spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: root
    password: 123456
    url: jdbc:h2:mem:adm_videos_test;MODE=MYSQL;DATABASE_TO_LOWER=TRUE #to persist to a file, use from "mem:adm_videos_test" to "file:./.h2/dev"
  jpa:
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2